body {
    background-image: linear-gradient(to bottom, #060444, #050850, #070b5d, #090d6a, #0c0f77, #131484, #191992, #1f1ea0, #2927b1, #3130c3, #3a39d5, #4243e8);
    background-attachment: fixed;
}

button {
    background-image: linear-gradient(to right, #0c0b22, #0e0f2a, #0f1231, #111539, #131741, #121746, #12164a, #11164f, #0d1251, #0a0f52, #060a54, #040555);
}

.c-user {
    font-size: 100px;
}

form {
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Sombra suave */
    backdrop-filter: blur(10px); /* Desenfoque del fondo */
    -webkit-backdrop-filter: blur(10px); /* Soporte para Safari */
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.form-control {
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}
.form-control:focus {
    color: white;
    border: none;
    border-bottom: solid white 2px;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0);
}
.form-control::placeholder {
    color: rgb(197, 193, 193);
}

.c-input {
    background-color: #131484;
}
